@tailwind base;
@tailwind components;
@tailwind utilities;

.sign-in-background {
  background-image: url('../../public/alex-perez-P93ijX1URuU-unsplash.jpg');
  background-size: cover;
  background-position: center;
}

.sign-up-background {
  background-image: url('../../public/pexels-oliver-sjöström-1005417.jpg');
  background-size: cover;
  background-position: center;
}
